.layout_header {
  .user-btn {
    width: auto;
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 16px;
    float: left;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  .user-btn:hover {
    color: #208DC0
  }
  .user-btn.active {
    background: #208DC0;
    color: #fff;
  }
  .user-downdrop-btn {
    width: auto;
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 16px;
    float: left;
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: relative;
    .avatar {
      margin-right: 6px;
    }
  }
  .user-downdrop-btn:hover, .user-downdrop-btn.current {
    background: #252525;
  }
}
.down-list {
  position: absolute;
  top: 50px;
  right: 0;
  width: 280px;
  box-sizing: border-box;
  padding: 0 16px;
  background: #252525;
  box-shadow: 0 0 4px rgba(0,0,0,.05);
  z-index: 9999;
}
.down-list__header {
  border-bottom: 1px solid #353535;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  .item {
    width: auto;
    color: #fff;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    transition: all .2s ease-in-out
  }
  .item:hover {
    color: #208DC0
  }
  .user-icon {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin-right: 2px;
  }
}
.icon-user-1 {
  background:url("~@/assets/images/icon/user_info.svg") no-repeat center center;
  background-size: 13px 13px;
}
.icon-user-2 {
  background:url("~@/assets/images/icon/user_fankui.svg") no-repeat center center;
  background-size: 13px 13px;
}
.icon-user-3 {
  background:url("~@/assets/images/icon/user_shouce.svg") no-repeat center center;
  background-size: 13px 13px;
}
.down-list__body {
  text-align: center;
  padding: 18px 0 20px;
  .title {
    line-height: 1;
    color: #999999;
    font-size: 12px;
    margin-bottom: 18px;
  }
  .down-list--qrcode {
    width: 84px;
    height: 84px;
    position: relative;
    margin: 0 auto;
  }
  .down-list--qrcode:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    position: absolute;
    top: -4px;
    left: -4px;
  }
  .down-list--qrcode:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    position: absolute;
    bottom: -4px;
    right: -4px;
  }
}
.down-list__footer {
  width: 100%;
  border-top: 1px solid #353535;
  text-align: center;
  line-height: 1;
  .logout-btn {
    width: 50%;
    display: inline-block;
    color: #999999;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 16px;
  }
  .logout-btn:hover {
    color: #208DC0;
  }
}