@charset "UTF-8";
/* 运行历史模块 */
.operation_history {
  height: 100%;
  overflow: auto;
}

.operation_history .title {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  color: #90949d;
}

.operation_history .title .el-icon-refresh {
  font-size: 16px;
  cursor: pointer;
}

.operation_history .total {
  height: 70px;
  padding: 10px;
}

.operation_history .total .total_item {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}

.operation_history .total .last {
  height: 50px;
  background-color: #27292e;
}

.operation_history .total .last p {
  color: #fff;
}

.operation_history .onetotal {
  height: 70px;
  padding: 10px;
}

.operation_history .onetotal .onetotal_item {
  width: 30%;
  margin-right: 2%;
  text-align: center;
}

.operation_history .onetotal .onetotal_item p {
  color: #fff;
}

.operation_history .filter {
  padding: 0 10px;
  position: relative;
}

.operation_history .filter .el-input .el-input__inner {
  height: 25px;
  line-height: 25px;
  background-color: #323437;
  border: none;
  color: #999;
}

.operation_history .filter .el-input .el-input__inner:focus {
  background-color: #131415;
  color: #fff;
}

.operation_history .filter .data_tree_filter {
  width: 28px;
  height: 25px;
  right: 6px;
  top: 0;
  position: absolute;
  background-color: #1c1d1e;
}

.operation_history .history_list {
  height: 74%;
  overflow-y: auto;
  max-height: 630px;
}

.operation_history .history_list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.operation_history .history_list::-webkit-scrollbar-thumb {
  background-color: #050c21;
  border-radius: 5px;
}

.operation_history .one_title {
  overflow: hidden;
  color: #ccc;
  margin-top: 20px;
  padding: 0 10px;
}

.operation_history .one_hour,
.operation_history .one_day,
.operation_history .three_day {
  height: 50%;
  overflow: auto;
  padding: 0 10px;
}

.operation_history .one_hour .load_item .load_top,
.operation_history .one_day .load_item .load_top,
.operation_history .three_day .load_item .load_top {
  height: 30px;
  line-height: 30px;
  color: #fff;
}

.operation_history .one_hour .load_item .load_bottom,
.operation_history .one_day .load_item .load_bottom,
.operation_history .three_day .load_item .load_bottom {
  height: 30px;
  line-height: 30px;
  color: #666;
}

.operation_history .one_hour .load_item:hover,
.operation_history .one_day .load_item:hover,
.operation_history .three_day .load_item:hover {
  background-color: #181a1d;
}

.operation_history .one_hour .load_item.active,
.operation_history .one_day .load_item.active,
.operation_history .three_day .load_item.active {
  background-color: #181a1d;
}

.operation_history .null_data {
  text-align: center;
  color: #90949d;
  margin: 10px 0;
}

.operation_history .one_hour::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.operation_history .one_hour::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

.operation_history .one_day::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.operation_history .one_day::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

.operation_history .three_day::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.operation_history .three_day::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

.operation_history::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.operation_history::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

.i-circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #8992BD;
  margin-right: 5px;
}

.bd-green {
  border-color: #2cd683;
}

.bd-yellow {
  border-color: #FAB847;
}

.bd-red {
  border-color: #df1a1a;
}
