/* icon图标 */
$base-path: '~@/assets/images/icon/';

.sql_save {
  background: url($base-path + "/sql_save.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 20px;
  vertical-align: middle;
}

.sql_format {
  background: url($base-path + "/sql_format.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 17px;
  height: 15px;
  vertical-align: middle;
}

.sql_save {
  background: url($base-path + "/sql_save.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 17px;
  vertical-align: middle;
}

.sql_stop {
  background: url($base-path + "/sql_stop.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.sql_collection {
  background: url($base-path + "/sql_collection.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 14px;
  height: 16px;
  vertical-align: middle;
}

.sql_ddl {
  background: url($base-path + "/sql_ddl.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 12px;
  vertical-align: middle;
}

.res_add {
  background: url($base-path + "/res_add.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-top;
}

.res_del {
  background: url($base-path + "/res_del.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 14px;
  height: 4px;
  vertical-align: middle;
}

.res_fre {
  background: url($base-path + "/res_fre.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-top;
}

.res_sub {
  background: url($base-path + "/res_sub.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 17px;
  height: 15px;
  vertical-align: text-top;
}

.res_exit {
  background: url($base-path + "/res_exit.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-top;
}

.res_export {
  background: url($base-path + "/res_export.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-top;

}

.res_status_success {
  background: url($base-path + "/res_status_success.svg") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-top;
}

.history_total_bg {
  background: url($base-path + "/history_total_bg.svg") no-repeat center center;
  background-size: 50px 50px;
}

.data_filter {
  background: url($base-path + "/data_filter.svg") no-repeat center center;
  background-size: 18px 17px;
}

.res_table_tools_next {
  background: url($base-path + "/res_table_tools_next.svg") no-repeat center center;
  background-size: 15px 15px;
}

.res_table_tools_pre {
  background: url($base-path + "/res_table_tools_pre.svg") no-repeat center center;
  background-size: 15px 15px;
}

.res_table_tools_last {
  background: url($base-path + "/res_table_tools_last.svg") no-repeat center center;
  background-size: 15px 15px;
}

.res_table_tools_first {
  background: url($base-path + "/res_table_tools_first.svg") no-repeat center center;
  background-size: 15px 15px;
}

.sql_daios_logo {
  background: url($base-path + "/sql_daios_logo.svg") no-repeat center center;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: sub;
}

/* 字体图标 */
.daiosArtboardCopy5 {
  font-size: 18px !important;
  vertical-align: middle;
  background: linear-gradient(to bottom, #bec7dc, #8e9abb);
  -webkit-background-clip: text;
  color: transparent;

}

.daiosArtboardCopy51 {
  font-size: 22px !important;
  vertical-align: middle;
  background: linear-gradient(to bottom, #bec7dc, #8e9abb);
  -webkit-background-clip: text;
  color: transparent;
}