@charset "UTF-8";
/* header样式 */
.layout_container .el-header {
  background-color: #121212;
  color: #fff;
  line-height: 50px;
  position: relative;
}

.layout_container .el-header .layout_header .logo {
  float: left;
}

.layout_container .el-header .layout_header .user {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
}

.layout_container .el-aside {
  background-color: #27292e;
  color: #989ba3;
}

.layout_container .el-aside .layout_aside .el-menu {
  background-color: #27292e;
  border-right: none;
}

.layout_container .el-aside .layout_aside .el-menu .navMenu .el-menu-item {
  text-align: left;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
}

.layout_container .el-aside .layout_aside .el-menu .navMenu .menu_line {
  height: 1px;
  margin: 15px 15px 15px 15px;
  background: #36383f;
}

.layout_container .el-aside .layout_aside .el-menu .navMenu .el-menu-item:focus,
.layout_container .el-aside .layout_aside .el-menu .navMenu .el-menu-item:hover {
  background-color: #161616;
}

.layout_container .el-aside .layout_aside .el-menu .navMenu .el-menu-item:focus span,
.layout_container .el-aside .layout_aside .el-menu .navMenu .el-menu-item:hover span {
  color: #fff;
}

.layout_container .el-aside .layout_aside .el-menu:first-child {
  height: 35px;
  line-height: 35px;
}

.layout_container .el-aside .layout_aside .el-menu:first-child i {
  cursor: pointer;
}

.layout_container .el-main {
  background-color: #27292e;
  overflow: hidden;
  padding: 0;
}

.layout_container .el-footer {
  background-color: #141619;
}

.layout_container .admin-main {
  padding: 20px;
}

.layout_container .admin-main .ui-main {
  display: flex;
  flex-direction: column;
}

.layout_container .admin-main .row-title {
  padding-top: 0;
}
