.selectTime {
  display: flex;
}

.time-item {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}

.wrapTime {
  margin-right: 10px;
  color: #444;
}

.el-date-editor {
  background-color: #202229;
  width: 200px !important;
}

.el-range-input {
  background-color: #202229;
  font-size: 12px !important;
}

.el-picker-panel__body {
  background-color: #202229;
}

.active-item {
  border: 1px solid #107FB4 !important;
  color: #107FB4;
}

.item1 {
  border: 1px solid #444;
  border-right: none;
  border-radius: 2px 0 0 2px;
}

.item2 {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.item3 {
  border: 1px solid #444;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
