/* 导入导出二级侧边栏 */
.import_export {
  height: 100%;

  .title {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    color: #90949d;

    .el-icon-refresh {
      font-size: 16px;
      cursor: pointer;
    }
  }

  .filter {
    padding: 0 10px;
    position: relative;
    margin-top: 10px;

    .el-input__inner {
      height: 25px;
      line-height: 25px;
      background-color: #323437;
      border: none;
      color: #999;
    }

    .el-input__inner:focus {
      background-color: #131415;
      color: #fff;
    }

    .data_tree_filter {
      width: 28px;
      height: 25px;
      right: 6px;
      top: 0;
      position: absolute;
      background-color: #1c1d1e;
    }
  }

  .export_list_tit {
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    color: #ccc;
    margin-top: 20px;
  }

  .export_list {
    height: 100%;
    margin-top: 20px;
    padding: 0 0 10px 10px;

    .el-timeline {
      height: 100%;
      overflow-y: auto;

      .el-timeline-item {
        padding-bottom: 0px;
        height: 42px;
        line-height: 42px;

        .el-timeline-item__tail {
          top: 22px;
          position: absolute;
          left: 4px;
          height: 100%;
          border-left: 2px solid #666;
        }

        .el-timeline-item__node--normal {
          top: 15px;
          left: 2px;
          width: 6px;
          height: 6px;

        }

        .el-timeline-item__wrapper {
          .el-timeline-item__content {
            color: #fff;

            .fl {
              width: 100px;
            }

            .download {
              padding: 0 10px 0 0;
            }

            .el-progress {
              line-height: 42px;
            }
          }
        }
      }
    }

    .el-timeline::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    //滚动条的滑块
    .el-timeline::-webkit-scrollbar-thumb {
      background-color: #333333;
      border-radius: 5px;
    }

    
  }

  .export_list_null {
    height: 100%;
    margin-top: 20px;
    text-align: center;
    line-height: 20px;
    color: #90949d;

  }
}